@import '../variables';

.categories {
  ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    li {
      background-color: #f9f9f9;
      padding: 13px 30px;
      border-radius: 30px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color .3s ease-in-out;
      @include noselect();

      &:hover {
        transition: background-color .3s ease-in-out;
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        transition: background-color .3s ease-in-out;
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        transition: background-color .3s ease-in-out;
        background-color: #282828;
        color: #fff;
      }
    }
  }
}
